*

!.gitignore

!go.mod
!go.sum

!LICENSE
!README.md

!enum/
!enum/**/*

!finch/
!finch/**/*

!fsys/
!fsys/**/*

!geom/
!geom/**/*

!hashset/
!hashset/**/*

!images/
!images/**/*

!linq/
!linq/**/*

!tmpl/
!tmpl/**/*

!utils/
!utils/**/*