*

!.gitignore

!go.mod
!go.sum

!README.md
!LICENSE

!components/
!components/**/*

!ecs/
!ecs/**/*

!errors/
!errors/**/*

!fsys/
!fsys/**/*

!geometry/
!geometry/**/*

!hash/
!hash/**/*

!linq/
!linq/**/*

!math/
!math/**/*

!time/
!time/**/*

!transform/
!transform/**/*