*

!.gitignore

!go.mod
!go.sum

!LICENSE
!README.md

!finch/
!finch/**/*

!fsys/
!fsys/**/*

!geom/
!geom/**/*

!images/
!images/**/*

!linq/
!linq/**/*

!tmpl/
!tmpl/**/*

!types/
!types/**/*

!utils/
!utils/**/*